.bird-detail {
  -fx-background-color: -surface-bg-color;
  -fx-background-insets: 16px;
  -fx-border-insets: 16px;
  -fx-padding: 32px;

  -fx-border-radius: 8px;
  -fx-border-width: 1px;
  -fx-border-color: -border-color;
  -fx-background-radius: 8px;
}
