@font-face {
  src: url("fonts/Raleway-Bold.ttf");
}

@font-face {
  src: url("fonts/RobotoCondensed-Regular.ttf");
}

.root {
  -fx-pref-height: 300;
  -fx-pref-width: 400;

  -fx-background-color: -bg-color;
}

* {
  -fx-fill: -fg-color;
  -fx-font-family: "Roboto Condensed";
  -fx-font-size: 16;
}

.theme-light {
  -bg-color: white;
  -fg-color: #2b2b2b;
  -primary: #3a536c;
  -toolbar-bg-color: -primary;
  -surface-bg-color: #f5f5f5;
  -border-color: #ccc;
}

.theme-dark {
  -bg-color: rgb(22, 21, 26);
  -fg-color: rgba(255, 255, 255, 0.85);
  -toolbar-bg-color: rgb(31, 30, 37);
  -surface-bg-color: rgb(31, 30, 37);
  -primary: rgb(102, 143, 249);
  -border-color: rgb(24, 24, 31);
}

.split-pane {
  -fx-background-color: -bg-color;
}

.title {
  -fx-font-size: 32;
  -fx-font-weight: bold;
  -fx-fill: -fg-color;
  -fx-font-family: "Raleway";
}

.table-view {
  -fx-background-color: -surface-bg-color;
}

.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

.table-view .column-header .text {
  -fx-font-weight: bold;
  -fx-font-size: 14;
}

.table-view .filler {
  -fx-background-color: transparent;
}

.table-view .corner {
  -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: -surface-bg-color;
  -fx-background-radius: 7px 7px 0px 0px;
  -fx-background-insets: 0 11px 0 0;
  -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell {
  -fx-border-color: transparent;
  -fx-padding: 2 0 2 10px;
}

.table-view .virtual-flow .table-row-cell {
  -fx-fill: -fg-color;
  -fx-padding: 12 0;
  -fx-cell-size: 48;
}

.table-row-cell:odd {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
  -fx-background-color: rgba(0, 0, 0, 0.1);
  -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover {
  -fx-background-color: rgba(0, 0, 0, 0.2) !important;
  -fx-cursor: hand;
}

.table-row-cell:hover .text {
  -fx-fill: -primary;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
  -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
  -fx-opacity: 0;
  -fx-padding: 2;
}

.table-view .nested-column-header > * {
  -fx-fill: transparent;
}
